</div>
<table class="table dataTable no-footer" style="width: 1000px;" autosize="4" id="myTable" role="grid"
       aria-describedby="myTable_info">
    <thead style="font-weight: bold">
    <tr role="row">
        <td class="sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-sort="ascending"
            aria-label="Transaction Type: activate to sort column descending" style="width: 82px;">Transaction Type
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Date Entered: activate to sort column ascending" style="width: 53px;">Date Entered
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Invoice #: activate to sort column ascending" style="width: 50px;">Invoice #
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="NDC: activate to sort column ascending" style="width: 30px;">NDC
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column ascending" style="width: 38px;">Name
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Package Size: activate to sort column ascending" style="width: 58px;">Package Size
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Quantity In: activate to sort column ascending" style="width: 59px;">Quantity In
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Quantity Out: activate to sort column ascending" style="width: 59px;">Quantity Out
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Rx / Trans #: activate to sort column ascending" style="width: 39px;">Rx / Trans #
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="QOH: activate to sort column ascending" style="width: 32px;">QOH
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Expected QOH: activate to sort column ascending" style="width: 64px;">Expected QOH
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Actual QOH: activate to sort column ascending" style="width: 44px;">Actual QOH
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Variance: activate to sort column ascending" style="width: 59px;">Variance
        </td>
        <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
            aria-label="Last Modified: activate to sort column ascending" style="width: 60px;">Last Modified
        </td>
    <tr role="row" class="even">
        <td class="sorting_1"> in</td>
        <td class=""> 04-03-2015</td>
        <td class=""> 24f3</td>
        <td class=""> 44444-4444-44</td>
        <td class=""> drug1</td>
        <td class=""> 200</td>
        <td class="units"> 400</td>
        <td class="units"> 0</td>
        <td class=""></td>
        <td class=""> 400</td>
        <td class=""> 30</td>
        <td class=""> 430</td>
        <td class=""> 400</td>
        <td class=""> 05-19-2015</td>
    </tr>
    <tr role="row" class="odd">
        <td class="sorting_1"> audit</td>
        <td class=""> 05-19-2015</td>
        <td class=""></td>
        <td class=""> 44444-4444-44</td>
        <td class=""> drug1</td>
        <td class=""> 200</td>
        <td class="units"> 0</td>
        <td class="units"> 0</td>
        <td class=""></td>
        <td class=""> 400</td>
        <td class=""> 401</td>
        <td class=""> 400</td>
        <td class=""> -1</td>
        <td class=""> 05-19-2015</td>
    </tr>
    <tr role="row" class="odd">
        <td class="sorting_1"> in</td>
        <td class=""> 05-19-2015</td>
        <td class=""> 34</td>
        <td class=""> 44444-4444-44</td>
        <td class=""> drug1</td>
        <td class=""> 200</td>
        <td class="units"> 200</td>
        <td class="units"> 0</td>
        <td class=""></td>
        <td class=""> 400</td>
        <td class=""> 189</td>
        <td class=""> 389</td>
        <td class=""> 200</td>
        <td class=""> 05-19-2015</td>
    </tr>
    <tr role="row" class="even">
        <td class="sorting_1"> in</td>
        <td class=""> 05-19-2015</td>
        <td class=""></td>
        <td class=""> 44444-4444-44</td>
        <td class=""> drug1</td>
        <td class=""> 200</td>
        <td class="units"> 12</td>
        <td class="units"> 0</td>
        <td class=""> 345</td>
        <td class=""> 400</td>
        <td class=""> 389</td>
        <td class=""> 401</td>
        <td class=""> 12</td>
        <td class=""> 05-19-2015</td>
    </tr>
</table>
<pagebreak/>
<table></div>
    <table class="table dataTable no-footer" style="width: 1000px;" autosize="4" id="myTable" role="grid"
           aria-describedby="myTable_info">
        <thead style="font-weight: bold">
        <tr role="row">
            <td class="sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-sort="ascending"
                aria-label="Transaction Type: activate to sort column descending" style="width: 82px;">Transaction Type
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Date Entered: activate to sort column ascending" style="width: 53px;">Date Entered
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Invoice #: activate to sort column ascending" style="width: 50px;">Invoice #
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="NDC: activate to sort column ascending" style="width: 30px;">NDC
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Name: activate to sort column ascending" style="width: 38px;">Name
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Package Size: activate to sort column ascending" style="width: 58px;">Package Size
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Quantity In: activate to sort column ascending" style="width: 59px;">Quantity In
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Quantity Out: activate to sort column ascending" style="width: 59px;">Quantity Out
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Rx / Trans #: activate to sort column ascending" style="width: 39px;">Rx / Trans #
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="QOH: activate to sort column ascending" style="width: 32px;">QOH
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Expected QOH: activate to sort column ascending" style="width: 64px;">Expected QOH
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Actual QOH: activate to sort column ascending" style="width: 44px;">Actual QOH
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Variance: activate to sort column ascending" style="width: 59px;">Variance
            </td>
            <td class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1"
                aria-label="Last Modified: activate to sort column ascending" style="width: 60px;">Last Modified
            </td>
        </thead>
        <tbody>
        <tr role="row" class="odd">
            <td class="sorting_1"> in</td>
            <td class=""> 04-03-2015</td>
            <td class=""></td>
            <td class=""> 66666-6666-66</td>
            <td class=""> drug2</td>
            <td class=""> 40</td>
            <td class="units"> 50</td>
            <td class="units"> 0</td>
            <td class=""> 876cv</td>
            <td class=""> 10</td>
            <td class=""> 100</td>
            <td class=""> 150</td>
            <td class=""> 50</td>
            <td class=""> 04-26-2015</td>
        </tr>
        <tr role="row" class="even">
            <td class="sorting_1"> in</td>
            <td class=""> 04-10-2015</td>
            <td class=""> 245</td>
            <td class=""> 66666-6666-66</td>
            <td class=""> drug2</td>
            <td class=""> 40</td>
            <td class="units"> 40</td>
            <td class="units"> 0</td>
            <td class=""></td>
            <td class=""> 10</td>
            <td class=""> 400</td>
            <td class=""> 440</td>
            <td class=""> 40</td>
            <td class=""> 04-26-2015</td>
        </tr>
        </thead>
        <tbody>
        <tr role="row" class="odd">
            <td class="sorting_1"> audit</td>
            <td class=""> 04-26-2015</td>
            <td class=""></td>
            <td class=""> 66666-6666-66</td>
            <td class=""> drug2</td>
            <td class=""> 40</td>
            <td class="units"> 0</td>
            <td class="units"> 0</td>
            <td class=""></td>
            <td class=""> 10</td>
            <td class=""> 440</td>
            <td class=""> 78</td>
            <td class=""> -362</td>
            <td class=""> 04-26-2015</td>
        </tr>
        <tr role="row" class="even">
            <td class="sorting_1"> audit</td>
            <td class=""> 04-26-2015</td>
            <td class=""></td>
            <td class=""> 66666-6666-66</td>
            <td class=""> drug2</td>
            <td class=""> 40</td>
            <td class="units"> 0</td>
            <td class="units"> 0</td>
            <td class=""></td>
            <td class=""> 10</td>
            <td class=""> 440</td>
            <td class=""> 78</td>
            <td class=""> -362</td>
            <td class=""> 04-26-2015</td>
        </tr>
        <tr role="row" class="odd">
            <td class="sorting_1"> audit</td>
            <td class=""> 04-26-2015</td>
            <td class=""></td>
            <td class=""> 66666-6666-66</td>
            <td class=""> drug2</td>
            <td class=""> 40</td>
            <td class="units"> 0</td>
            <td class="units"> 0</td>
            <td class=""></td>
            <td class=""> 10</td>
            <td class=""> 440</td>
            <td class=""> 78</td>
            <td class=""> -362</td>
            <td class=""> 04-26-2015</td>
        </tr>
        <tr role="row" class="even">
            <td class="sorting_1"> audit</td>
            <td class=""> 04-26-2015</td>
            <td class=""></td>
            <td class=""> 66666-6666-66</td>
            <td class=""> drug2</td>
            <td class=""> 40</td>
            <td class="units"> 0</td>
            <td class="units"> 0</td>
            <td class=""></td>
            <td class=""> 10</td>
            <td class=""> 100</td>
            <td class=""> 10</td>
            <td class=""> -90</td>
            <td class=""> 04-26-2015</td>
        </tr>
        </tbody>
    </table>
    <div class="dataTables_info" id="myTable_info" role="status" aria-live="polite">